body {
    color: #004466;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #ea0b8c;
}

button {
    background: #c8edff;
    color: #004466;
    cursor: pointer;
    font-size: 1.2rem;
    padding: .75rem;
}

button:disabled {
    background: #efefef;
    color: #999;
    cursor: default;
}

footer {
    clear: both;
    padding-top: 5rem;
}

.movies-list {
    float: left;
    margin-right: 5rem;
    overflow: hidden;
}
